/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .App-header {
    background-color: #282c34;
    color: white;
  }
  
  .navbar {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    color: #fff;
  }
  
  .search-bar {
    padding: 8px;
    margin-left: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  
  li {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000;
  }
  
  img {
    border-radius: 8px;
    width: 200px;
    height: 300px;
  }
  
  .register-button {
    padding: 8px 12px;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  